<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>sharegiftmain/teammembers</title>
        {%load static%}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!--font-->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <!--script-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/scrolla.jquery.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    </head>
    <style>
        .input-form { max-width: 680px; margin-top: 10%;
            padding: 32px; background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15) }
    </style>
    <body>
        <div class="wrap">
            <!--header-->
            <header>
                <span class ="bg"></span>
                <a href="#" class="open"><span class="lnr lnr-menu"></span></a>
                <a href="/" class="logo"><img src="{% static 'img/logo.PNG' %}"/></a>
                <nav>
                    <a href="#" class="close"><span class="lnr lnr-cross"></span></a>
                    <ul class="gnb">
                        <li><a href="/">Share Gift</a></li>
                        <!-- <li><a href="#">My Page</a></li> -->
                        <li><a href="/team">Team</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="/publications">Publication</a></li>
                        <li><a href="/branches">Branches</a></li>
                        <li><a href="/volunteering">Volunteering</a></li>
                        <!-- <li><a href="#">Journal</a></li> -->
                        <li><a href="/response">Covid-19 response</a></li>
                        <hr/>
                        <li>
                            {% if user.is_authenticated %}
                                <a href="/logout">Logout</a>
                            {% else %}
                                <a href="/login">Login</a>
                                <a href="/join">Sign Up</a>
                            {% endif %}
                        </li>
                        <li><a href="#"><img src="{% static 'img/free-icon-gear-5482087.png' %}" height="20vh"/> &nbsp &nbsp설정</a></li>
                    </ul>
                </nav>
            </header>
        <section class="subheaderTeam">
            <table>
                <tr class="other">
                    <td>
                        <img src= "" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Annabelle Choi
                        </div>
                        <div>
                            <div class="name1">
                                <b></b>
                            </div>
                            <div class= "name2">
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr class="other">
                    <td>
                        <img src= "" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Hyunji Lee
                        </div>
                        <div>
                            <div class="name1">
                                <b></b>
                            </div>
                            <div class= "name2">
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr class="other">
                    <td>
                        <img src= "" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Eungyul Go
                        </div>
                        <div>
                            <div class="name1">
                                <b></b>
                            </div>
                            <div class= "name2">
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr class="other">
                    <td>
                        <img src= "" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Madeline Choi
                        </div>
                        <div>
                            <div class="name1">
                                <b></b>
                            </div>
                            <div class= "name2">
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P2.jpg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Myung Suh Choi
                        </div> 
                        <div>
                            <div class="name1">
                                <b>Founding member </b>
                            </div>
                            <div class= "name2">
                                Monta Vista High School
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P1.jpg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                        SungAh Choi
                        </div> 
                        <div>
                            <div class="name1">
                                <b>Founding member</b>
                            </div>
                            <div class= "name2">
                                University of Pennsylvania 
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P3.jpg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Director of Education & The Pandemic Times News Staff Writer
                        </div> 
                        <div>
                            <div class="name1">
                                <b>Katherine Lee</d>
                            </div>
                            <div class= "name2">
                                Fremont High School, CA
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P4.jpg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Director of Outreach & The Pandemic Times News Staff Writer
                        </div> 
                        <div>
                            <div class="name1">
                                <b>Jacquelyn Ryu</d>
                            </div>
                            <div class= "name2">
                                Saratoga High School, CA
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P5.jpg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            The Pandemic Times News Staff Writer
                        </div> 
                        <div>
                            <div class="name1">
                                <b>Yuli Choi</d>
                            </div>
                            <div class= "name2">
                                Archibishop Mitty High School, CA
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P6.jpg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Irene Chon
                        </div> 
                        <div>
                            <div class="name1">
                                <b>Community Outreach Coordinator</d>
                            </div>
                            <div class= "name2">
                                Monta Vista High School
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{% static 'img/P7.jpg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Volunteer Member 2021 ~ & Pandemic Times News Staff Writer
                        </div>
                        <div>
                            <div class="name1">
                                <b>Luke Jun</b>
                            </div>
                            <div class= "name2">
                                Saint Andrew’s Espicopal School, CA
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P8.jpg' %}" class = "pictures"><!--andy-->
                    </td>
                    <td>
                        <div class= "name1">
                            Director of Tech Support 2021 & Pandemic Times Staff Writer
                        </div> 
                        <div>
                            <div class="name1">
                                <b>Andy Seokhyun Chin</b>
                            </div>
                            <div class= "name2">
                                Choate Rosemary Hall, CT
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P9.jpg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Volunteer Member, The Pandemic Times News Staff Writer
                        </div>
                        <div>
                            <div class="name1">
                                <b>Juno Kim</b>
                            </div>
                            <div class= "name2">
                                Gunn High School, CA
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P10.jpg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Volunteer Member
                        </div>
                        <div>
                            <div class="name1">
                                <b>Caleb Park</b>
                            </div>
                            <div class= "name2">
                                Leland High School, CA
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P11.jpg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Volunteer Member 2021~
                        </div> 
                        <div>
                            <div class="name1">
                                <b>Kate Yu</b>
                            </div>
                            <div class= "name2">
                                Monta Vista High School, CA
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P12.jpeg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Director of Events 2017~Present
                        </div>
                        <div>
                            <div class="name1">
                                <b>Nayana Balusu</b>
                            </div>
                            <div class= "name2">
                                Carnegie Melon University, Computer Science Major
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P13.png' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            Yoomin Cho
                        </div> 
                        <div>
                            <div class="name1">
                            
                            </div>
                            <div class= "name2">
                                Huimoon High School
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src= "{% static 'img/P14.jpg' %}" class = "pictures">
                    </td>
                    <td>
                        <div class= "name1">
                            President of Share Gift Daechi Branch 2021~
                        </div>
                        <div>
                            <div class="name1">
                                <b>Yoomin Cho</b>
                            </div>
                            <div class= "name2">
                                Whimoon High School, Seoul, Korea
                            </div>
                            <br>
                        </div>
                    </td>
                </tr>
            </table>
        </section>
    </body>
    <style>
        .header{text-align:center; position:relative;  margin-bottom: 10px; border-bottom: solid salmon;}
        .but{position: relative; right:15%; top: 1%;}
        .but1{position: relative; left:15%; top: 1%;}
    </style>
</html>
