<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>sharegiftmain/teammembers</title>
        {%load static%}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!--font-->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <!--script-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/scrolla.jquery.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    </head>
    <style>
        .input-form { max-width: 680px; margin-top: 10%;
            padding: 32px; background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15) }
    </style>
    <body>
        <div class="wrap">
            <!--header-->
            <header>
                <span class ="bg"></span>
                <a href="#" class="open"><span class="lnr lnr-menu"></span></a>
                <a href="/" class="logo"><img src="{% static 'img/logo.PNG' %}"/></a>
                <nav>
                    <a href="#" class="close"><span class="lnr lnr-cross"></span></a>
                    <ul class="gnb">
                        <li><a href="/">Share Gift</a></li>
                        <!-- <li><a href="#">My Page</a></li> -->
                        <li><a href="/team">Team</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="/publications">Publication</a></li>
                        <li><a href="/branches">Branches</a></li>
                        <li><a href="/volunteering">Volunteering</a></li>
                        <!-- <li><a href="#">Journal</a></li> -->
                        <li><a href="/response">Covid-19 response</a></li>
                        <hr/>
                        <li>
                            {% if user.is_authenticated %}
                                <a href="/logout">Logout</a>
                            {% else %}
                                <a href="/login">Login</a>
                                <a href="/join">Sign Up</a>
                            {% endif %}
                        </li>
                        <li><a href="#"><img src="{% static 'img/free-icon-gear-5482087.png' %}" height="20vh"/> &nbsp &nbsp설정</a></li>
                    </ul>
                </nav>
            </header>
        <div class = "f">
            <table>
                <tr>
                <td>
                    <img src= "{% static 'P2.jpg' %}" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Myung Suh Choi
                    </div> 
                    <div>
                        <div class="name">
                            Founding member 
                        </div>
                        <div class= "name">
                            Monta Vista High School
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P1.Jpg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                       SungAh Choi
                    </div> 
                    <div>
                        <div class="name">
                            Founding member
                        </div>
                        <div class= "name">
                            University of Pennsylvania 
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P3.Jpg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Katherine Lee
                    </div> 
                    <div>
                        <div class="name">
                            Director of Education
                        </div>
                        <div class= "name">
                            Fremont High School
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P4.Jpg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Jacquelyn Ryu
                    </div> 
                    <div>
                        <div class="name">
                            Graphic & UX Designer
                        </div>
                        <div class= "name">
                            Saratoga High School
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P5.Jpg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Yuli Choi
                    </div> 
                    <div>
                        <div class="name">
                            Director of Outreach
                        </div>
                        <div class= "name">
                            Archibishop Mitty HS
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P6.Jpg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Irene Chon
                    </div> 
                    <div>
                        <div class="name">
                            Community Outreach Coordinator
                        </div>
                        <div class= "name">
                            Monta Vista High School
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P7.Jpg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Luke Jun
                    </div> 
                    <div>
                        <div class="name">
                            Digital Media Manager
                        </div>
                        <div class= "name">
                            Bellarmine College Prep
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P8.Jpg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Seokhyun Chin
                    </div> 
                    <div>
                        <div class="name">
                            Web Developer
                        </div>
                        <div class= "name">
                            Chaote Rosemary Hall
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P9.Jpg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Juno Kim
                    </div> 
                    <div>
                        <div class="name">
                            Development Manager
                        </div>
                        <div class= "name">
                            Henry M. Gunn HS
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P10.Jpg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Caleb Park
                    </div> 
                    <div>
                        <div class="name">
                            Social Media Specialist
                        </div>
                        <div class= "name">
                            Lealand High School
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P11.Jpg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Kate Nayeon Yu
                    </div> 
                    <div>
                        <div class="name">
                            Social Media Specialist
                        </div>
                        <div class= "name">
                            Monta Vista High School
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P12.Jpeg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Nayana Balusu
                    </div> 
                    <div>
                        <div class="name">
                            
                        </div>
                        <div class= "name">
                            Carnegie Melon Univ.
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P14.Jpg" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Yoomin Cho
                    </div> 
                    <div>
                        <div class="name">
                           
                        </div>
                        <div class= "name">
                            Huimoon High School
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src= "file:///C:\Users\Dell\Desktop\test\P13.png" width="200vh" height="200vh" class = "pictures">
                </td>
                <td>
                    <div class= "name">
                        Taehoon Kim
                    </div> 
                    <div>
                        <div class="name">
                           
                        </div>
                        <div class= "name">
                            Monta Vista High School
                        </div>
                        <br>
                    </div>
                </td>
            </tr>
             </table>
        </div>
        
    </body>
    <style>
        .header{text-align:center; position:relative;  margin-bottom: 10px; border-bottom: solid salmon;}
        .but{position: relative; right:15%; top: 1%;}
        .but1{position: relative; left:15%; top: 1%;}
        .name{text-align: center; font-size: 200%;}
        table{border-collapse: separate; border-spacing: 20px 20px; }
        .f{background-color:beige}
    </style>
</html>
